include utils.pug
doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/about.css')
    link(rel='stylesheet' href='/stylesheets/nav.css')
  body
  +navBar()
  div.aboutContainer
    h1 About Zuora
    div.aboutBio
      h4 Zuora is a social-media platform created by gamers for gamers
      p In the Zuoran community, we are all Zuorans. Questions are posted and answered by Zuorans. This helps build trust within the community because we are all here to help out one another. Whether you are saving Hyrule, rescuing a princess from an evil turtle, or simply rotating falling geometric shapes to form complete rows at the bottom of a game board, anothr Zuoran is here and ready to help you on your quest. Keep reading to learn more about the developers!
