include utils.pug
doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/about.css')
    link(rel='stylesheet' href='/stylesheets/nav.css')
  body
  +navBar()
  div.aboutContainer
    h1 About Zuora
    div.aboutBio
      h4 Zuora is a social-media platform created by gamers for gamers
      p In the Zuoran community, we are all Zuorans. Questions are posted and answered by Zuorans. This helps build trust within the community because we are all here to help out one another. Whether you are saving Hyrule, rescuing a princess from an evil turtle, or simply rotating falling geometric shapes to form complete rows at the bottom of a game board, anothr Zuoran is here and ready to help you on your quest. Keep reading to learn more about the developers!
      h4 Meet the developers behind the Zuoran Community!
      div.devSection
        div.dev
          img(src='https://laughingsquid.com/wp-content/uploads/2015/10/il_fullxfull.856548802_lnwy.jpg')
          p Jeffrey
          br
          p Kintner
          div.linkedInSection
            a(href="https://www.linkedin.com/in/jeffrey-kintner-9b503a71/")
              img(src='https://img.icons8.com/color/48/000000/linkedin.png')
        div.dev
          img(src='https://klinelawstl.com/wp-content/uploads/2019/05/Andrew1.jpg')
          p Andrew
          br
          p Stillinovic
            div.linkedInSection
              a(href="https://www.linkedin.com/in/andrew-stilinovic-94277180/")
                img(src='https://img.icons8.com/color/48/000000/linkedin.png')
        div.dev
          img(src='https://media.discordapp.net/attachments/961320861493780601/961328875776933919/42.png')
          p Waseem
          br
          p Alame
            div.linkedInSection
              a(href="https://www.linkedin.com/in/waseemalame/")
                img(src='https://img.icons8.com/color/48/000000/linkedin.png')
        div.dev
          img(src='http://2.bp.blogspot.com/-4T8M9ojyCJ8/UKE0A8W70RI/AAAAAAAABFg/zB3lTk9ZC-g/s1600/John+Allen+Hinds.jpg')
          p John Allan
          br
          p Hinds
            div.linkedInSection
              a(href="https://www.linkedin.com/in/john-allan-hinds-2aba11237/")
                img(src='https://img.icons8.com/color/48/000000/linkedin.png')
