extends layout.pug
include utils.pug
block content
    form(action=`/questions/${id}/answers` method="POST") Your Answer
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Qualifications', 'streetCred', '', 'text', 'Type your credentials here...')
        +field('Answer', 'content', '', 'textarea', 'Type your answer here...')
        button(type='submit') Submit Answer
