include utils.pug
doctype html
html
  head
      block head
        title="Project Zuora"
        link(rel='stylesheet' href='/stylesheets/splash_styles.css')
        link(rel='stylesheet' href='/stylesheets/nav.css')
  body
  +navBar()
  div(class="splash-mid")
    h1(class="splash-h1") Welcome to Project Zuora
    h2(class="splash-h2") Where you can ask your Video Game Questions
    .splash-inner-container 
      .splash-inner
        h2(class="splash-inner-h2") Join Zuora Today
        button(class='splash-register-button') 
          a(class='splash-register-link' href="/users/register") Click here to register
      .splash-inner
        +validationErrorSummary(errors)
        h2(class="splash-inner-h2") Login to Zuora
        form(action='/users/login' method='post')
          input(type='hidden' name='_csrf' value=csrfToken)
          +field('Email:', 'email', '', type="email")
          +field('Password:', 'password', '', type="password")
          div
            button( class='splash-button' type='submit' class='btn btn-primary') Login
        form(action='/users/login' method='post')
          input(type='hidden' name='_csrf' value=csrfToken)
          input(type='hidden' name='email' value='stili87@gmail.com')
          input(type='hidden' name='password' value="LinkistheBest123*")
          button(type='submit' class='splash-button') Click Here for demo user
    button(class="try-button") 
      a(class='splash-register-link' href="/questions") Visit as Guest
