include utils.pug

doctype html
html
  head
        title="Project Zuora"
        link(rel='stylesheet' href='/stylesheets/404_styles.css')
        link(rel='stylesheet' href='/stylesheets/nav.css')
        script 
          include ../public/javascript/nav.js
  body
    +navBar()
