include utils.pug
doctype html
html
  head
      block head
        title="Project Zuora"
        link(rel='stylesheet' href='/stylesheets/404_styles.css')
        link(rel='stylesheet' href='/stylesheets/nav.css')
body
 +navBar()
 h1(class="h1_404") 404!
 .middle
  .left-middle
    img(src="/images/404-img.jpg", alt="Oblivion Gaurd Meme", class="gaurd_img")
  .right-middle
   
   p(class="p_404_desc") Sorry, we couldn't find the page that you requested.
   button(class="button_home")
    a(href='/' class="home_link") Return to Home Page
