doctype html
html
  head
      block head
        title="Project Zuora"
        link(rel='stylesheet' href='/stylesheets/404_styles.css')
body
 h1(class="h1_404") 403 Forbidden!
 .middle
  .left-middle
    img(src="/images/angrygaurd.jpg", alt="Oblivion Gaurd Meme", class="gaurd_img")
  .right-middle
   
   p(class="p_404_desc") You are not allowed to Access that Resource!
   button(class="button_home")
    a(href='/' class="home_link") Return to Home Page
