extends layout.pug

block content
  table
    thead
      tr
        th title
        th content
        th media

    tbody
      each question in questions
        tr
          td= question.title
          td= question.content
          td
            img(src=question.media)
