extends layout.pug

include utils.pug

block content
    +validationErrorSummary(errors)
    form(action=`/questions/${questionId}/edit` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Title', 'title', '', "text")
        +field('Content', 'content', '', "textarea")
        +field('Media', 'media', '', "text")
        div(class='py-4')
            button(type='submit') Submit
            a(href='/' class='btn btn-warning ml-2') Cancel
