extends layout.pug

include utils.pug

block content
    This is only for testing.

    form(action=`/questions/${id}/delete` method='post')
            input(type="hidden" value=id name='id')
            div(class='py-4')
            button(type='submit' class='btn btn-primary') Delete this comment
