include utils.pug
doctype html
html
  head
    title="Project Zuora"
    link(rel='stylesheet' href='/stylesheets/user_edit_styles.css')
  body
  +validationErrorSummary(errors)
  .user-edit-inner-container
        .user-edit-inner
          form(action=`/users/edit/${user.id}` method='post')
            include user-form.pug
            div(class='py-4')
            button(type='submit' class='user-edit-button') Update User
            a(href=`/users/${user.id}` class='cancel-edit-button') Cancel
