body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CAD2C5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.profile-box {
    width: 75%;
    background-color: #7C8D88;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    border-radius: 15px;
    border: 3px solid #2F3E46;
    padding-bottom: 30px;
}

.pic-name-cred {
    display: flex;
    flex-direction: row;
}

.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: 8px 0px 0px 25px;
    border: 3px solid #2F3E46;
    box-shadow: #2F3E46 -5px 5px, #49616E -10px 10px, #84a7b9 -15px 15px;
    border-radius: 80px;
}

.name-cred-box {
    background-color: #A9C1C7;
    padding-left: 25px;
    padding-right: 25px;
    margin: 8px 0px 0px 25px;
    border-radius: 30px;
    border: 3px solid #49616E;
    box-shadow: #2F3E46 -5px 5px, #49616E -10px 10px, #84a7b9 -15px 15px;
}

.profile-name {
    text-shadow: #67787c -2px 2px 2px;
    color: #2F3E46;
}

.bio-box {
    margin: 20px 0px 0px 25px;
    width: fit-content;
    background-color: #A9C1C7;
    border-radius: 18px;
    border: 3px solid #49616E;
    box-shadow: #2F3E46 -5px 5px, #49616E -10px 10px, #84a7b9 -15px 15px;
}

.cred {
    color: #2F3E46;
    font-weight: 600;
    font-size: 15px;
}

.bio {
    padding: 0px 10px;
    color: #2F3E46;
    font-weight: 600;
    font-size: 14px;
}

/* .under-profile-toolbar {
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: white;
} */

.feed-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px 0px 70px;
    padding-bottom: 20px;
    height: fit-content;
    background-color: #A9C1C7;
    border-radius: 18px;
    border: 3px solid #49616E;
    box-shadow: #2F3E46 -5px 5px, #49616E -10px 10px, #84a7b9 -15px 15px;
}

.feed-title {
    padding: 0px 10px;
    color: #2F3E46;
    font-weight: 600;
    font-style: italic;
}

.feed-content {
    margin: 20px 0px 20px 25px;
    padding: 0px 10px;
    width: auto;
    background-color: #A9C1C7;
    border-radius: 18px;
    /* border: 3px solid #49616E; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
}

.feed-content-div {
    width: 60%;
    padding: 0px 10px;
    font-style: italic;
    background-color: #A9C1C7;
    border-radius: 18px;
    border: 3px solid #49616E;
    box-shadow: #2F3E46 -5px 5px, #49616E -10px 10px, #84a7b9 -15px 15px;
}

.answers {
    padding: 0px 20px;
}

.comments {
    padding: 0px 40px;
}
