*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  /* position: absolute; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* background-image: url('https://cdn.vox-cdn.com/thumbor/suYvgZ1flp3L5frTxkweHsfMyfo=/0x0:2400x1517/1900x1069/filters:focal(1008x567:1392x951):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/60039755/smash_illo.0.jpg'); */
  background-size:auto;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #CAD2C5;
}
.container{
  display: flex;
  margin-top: 20px;
}
.main{

}
/* SIDEBAR START - Wass*/
.sideBar{
  /* margin-left: 300px; */
  background-color: #A9C1C7;
  width: 200px;
  position: absolute;
  /* left: 150px;
  top: 20px; */
  left: 100px;
  margin-top: 20px;
  /* z-index: -1; */

}

.sideBar ul{

}

.sideBar ul li{
  padding: 20px;
  list-style-type: none;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
/* MAIN START - Wass*/
.main{
  /* margin: 0 auto; */
  width: 600px;
  margin: 0 auto;
}

.question{
  background-color: #84A98C;

  border: 1px solid #354F52;
  margin: 20px;
  width: min-content;
  height: max-content;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.question_head{
  display: flex;
  padding: 15px;

}
.head_text{
  align-self: center;
}
.question_head_upper{
  font-weight: bold;
}
.question_body_title{
  font-weight: bold;
}
.question_body_img img{
  width: 600px;

}
.user_profile_pic{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 20px;
}
.question_body_title{
  padding: 0 15px 0 15px;
}
.question_body_content{
  padding: 0 15px 15px 15px;
}

/* QUESTION FOOTER */
.question_footer{
  display: flex;
  justify-content: space-between;
}


.question_footer div button{
  font-size: 15px;
  border-radius: 5px;
  margin: 3px 5px;
  background-color: #DE6C3F;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;}

.post_answer button a{
  text-decoration: none;
  color: black;
}
.right_img{
  position: absolute;
  right: -20px;
  z-index: -1;
  /* top: 200px; */
}

/* ANSWERS */
.answer_details{
  display: flex;
}

.answer_user_name{
  font-weight: bold;
}
.answer{
  display: flex;
  padding: 15px;

}

.answer_content{
  padding: 10px 35px;

}
