body {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://cdn.vox-cdn.com/thumbor/suYvgZ1flp3L5frTxkweHsfMyfo=/0x0:2400x1517/1900x1069/filters:focal(1008x567:1392x951):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/60039755/smash_illo.0.jpg');
    background-size: 100%;
}

.splash-mid {
    background-color: lightcoral;
    height: 500px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.splash_inner_container {
    display: flex;
    width: 100%;
}
.splash_inner {
    height: 100%;
    width: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-start;
    flex-direction: column;
    background-color: antiquewhite;
}
