body {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CAD2C5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 35px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7C8D88;
}

a {
    cursor: pointer;
    box-shadow: 2px 2px 3px black;
    opacity: 100%;
    text-decoration: none;
    color: black;
    border: 2px solid black;
}

.form-group {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.label {
    padding-right: 20px;
}

.form-control {
    width: 75%;
}

.user-delete-inner-container {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 5px;
}

button {
    cursor: pointer;
    box-shadow: 2px 2px 3px black;
    opacity: 100%;
}

.delete-user-button {
    font-size: 17px;
    border-radius: 20px;
    background-color: #A9C1C7;
    padding-left: 25px;
    padding-right: 25px;
}

.cancel-delete-button {
    margin-top: 10px;
    font-size: 17px;
    border-radius: 20px;
    background-color: #A9C1C7;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 3px;
    font-weight: bold;
}

.user-delete-inner {
    height: 100%;
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-start;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #7C8D88;
}
